{% extends 'user_pages_base.html' %}
{% block content %}
    <head>
        <title>Search Book</title>
    </head>

    <form class="form-inline" style="align-items: center; padding-top: 1%; padding-left: 2%;" action="/SearchBook/" method="POST">{% csrf_token %}
        <input class="mx-sm-3 mb-2" style="width: 30%;" type="text" name="search" placeholder="Book Name">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {% if books %}
    <div class="card" style="padding-left: 2%; padding-top: 2%; padding-right: 2%;">
        <table class="table table-dark table-hover" style="border: 1px solid black; text-align: center; vertical-align: middle; padding: 15px; word-wrap: normal;">
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Floor</th>
                <th>Rack</th>
                <th>Availability</th>
            </tr>
            {% for i in books %}
            <tr>
                <td>{{i.0}}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.3}}</td>
                <td>{{i.4}}</td>
                {%  if i.5 == 'present' %}
                    {% if tokens > 0 %}
                        <form action="/borrow/" method="POST">{% csrf_token %}
                            <td><button class="btn btn-primary btn-sm" type="submit" name="borrow" value={{i.6}}>Borrow</button></td>
                        </form>
                    {% else %}
                        <td class="fw-bold text-danger">No Tokens</td>
                    {% endif %}
                {% else %}
                    <td class="fw-bold text-danger">Unavailable</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
{% endblock %}