{% extends 'user_pages_base.html' %}
{% block content %}
    <head>
        <title>HomePage</title>
    </head>

    <div class="card " style="padding-left: 2%; padding-right: 2%; padding-top: 2%;">
        <div class="card-body">
            <h5 class="card-title fw-bold text-primary" style="padding-left: 2%;">Messages</h5><br>
            <div class="card mb-3 border-0" style="height: 2rem;">
                <p class="card-text" style="padding-left: 2%; align-items: center;">Tokens left: </p> 
            </div>
            <div class="card mb-3 border-0" style="height: 2rem;">
                <p class="card-text" style="padding-left: 2%; align-items: center;">Some quick example text to build on the card title and make up the bulk of the card's content. </p> 
            </div>
        </div>
    </div>
      
{% endblock %}